{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h3 class="mb-4">{% trans "Categories" %}</h3>
<div class="row g-4">
  <div class="col-lg-6">
    <div class="card p-3">
      <ul class="list-group list-group-flush">
        {% for c in categories %}<li class="list-group-item">{{ c.name }}</li>{% empty %}<li class="list-group-item text-muted">{% trans "No categories yet." %}</li>{% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card p-3">
      <h6>{% trans "Add Category" %}</h6>
      <form method="post">{% csrf_token %}{{ form.as_p }}<button class="btn btn-primary" type="submit">{% trans "Add" %}</button></form>
    </div>
  </div>
</div>
{% endblock %}
